@import "bootstrap";

.comentario {
  border-top: 1px solid #222;
  margin: 0px ;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 10px 10px 10px #ccc;
  border-radius: 15px;
}
.comment_section {
  margin-bottom: 90px;
}

.titulo {
  border-radius: 4px;
  width: 200px;
}

.cuerpo {
  border-radius: 8px;
  width: 65%;
  height: 170px;
  padding: 10px;
}

.link {
  margin: 10px;
}

.contenedor {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 18px;
  margin-top: 8px;
  box-shadow: 10px 10px 15px #ccc;
  border-radius: 15px;
}

.error {
  color: red;
}

.info {
  color: #999;
}

.cuerpocoment {
  border-radius: 8px;
  width: 65%;
  height: 60px;
  padding: 10px;
}

.centrado {
  text-align: center;
}
